
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/* 16*10=160px */

/* 10*10=100px */
/* .container{
    width: 10em;
    height: 10em;
    border: 2px solid;
}
body{
    font-size: 20px;
} */
