.container{
    border: 2px solid;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(3,250px) ;

}
*>.container .item{
    background-color: #203040;
    color: white;
    text-align: center;
    padding: 20px;
}
.a{
    grid-row: 1/4;
}
.b{
grid-column: 2/4;
}
.f{
    grid-row: 2/4;
    grid-column: 4/5;
}